@import "tailwindcss";

@theme {
    --color-background-dark: #020617;
    --color-background-light: #f8fafc;
    --color-primary: #0ea5e9;
    --font-sans: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}

/* Firefox fallback */
* {
    scrollbar-width: thin;
    scrollbar-color: #334155 transparent;
}